article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

body{
	background-color:#000000;
}
#container{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	background-image:url("star3.gif");
	border-radius:10px;
}
header{
	font-size:45px;
	width:100%;
	text-align:center;
	background-color:#21C6F8;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	clear:both;
}
footer{
	font-size:20px;
	width:100%;
	text-align:center;
	background-color:#21C6F8;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	clear:both;
}
#content{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
}
#content ul{
	list-style-type:none;
}
#content li{
	float:right;
	width:200px;
	display:block;
	margin-right:40px;
	margin-bottom:10px;
}
#content img{
	-webkit-webkit-transition:all is ease;
	-moz-webkit-transition:all is ease;
	-ms-webkit-transition:all is ease;
	-o-webkit-transition:all is ease;
	transition:all is ease;
	filter:blur(3px);
	-webkit-filter:blur(3px);
	-moz-filter:blur(3px);
	-ms-filter:blur(3px);
	-o-filter:blur(3px);
	border: 1px solid #000000;
}

#content img:hover{
	-webkit-webkit-transition:all is ease;
	-moz-webkit-transition:all is ease;
	-ms-webkit-transition:all is ease;
	-o-webkit-transition:all is ease;
	transition:all is ease;
	filter:blur(0px);
	-webkit-filter:blur(0px);
	-moz-filter:blur(0px);
	-ms-filter:blur(0px);
	-o-filter:blur(0px);
	transform:translateZ(25px) rotate(3deg);
	border: 1px solid #000000;
	box-shadow:10px 10px 10px rgba(0,0,0,.5);
}
#nav {
 font: 12px/30px Helvetica, sans-serif;
 text-align: center;
}
 
#nav a {
 background: #444;
 color: #fff;
 margin-right: 30px;
 width: 100px;
 height: 30px;
 float: left;
 text-decoration: none;
 -webkit-transition: all 0.5s ease;
}
 
#nav a:hover {
 background: #6fcbf3;
}


#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}